@import './utils/fonts.scss';
@import './utils/variables.scss';
@import './base.scss';
@import './utils/texts.scss';
@import './utils/utils.scss';


@import './components/buttons.scss';
@import './components/carousel-button';
@import './components/chefs-card';
@import './components/format-card';
@import './components/links.scss';



@import './layouts/_advantages-section.scss';
@import './layouts/chefs-section.scss';
@import './layouts/contact-section';
@import './layouts/formats-section.scss';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/section.scss';
@import './layouts/traditions-section.scss';














/* footer */
.address-list,
.address-info {
    flex-grow: 1;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-dark);
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-brand-normal);
}

.address-copyright {
    font-size: 14px;
}

.footer {
    position: relative;
    background-color: var(--color-primary-dark);
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.footer::before,
.footer::after {
    position: absolute;
    bottom: 0;
    background-size: 100%;
    content: '';
    background-repeat: no-repeat;
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../images/decor-bread-small.png');
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('../images/decor-bread-large.png');
}

