:root {
    --color-brand-normal: #819b57;
    --color-brand-dark: #3e4b1f;
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-brand-light: #cfcfbc;
    --color-secondary-dark: #a28268;
}